<h2>Over the Years</h2>
<h6>Click a country for more information</h6>
<select
  class="form-control"
  [(ngModel)]="currentTypeId"
  (change)="changeType()"
>
  <option [value]="null">--- Pick Type ---</option>
  <option *ngFor="let type of types" [value]="type.Id">{{ type.Name }}</option>
</select>
<ofui-map-years
  [data]="mapYearsData"
  (onFeatureClick)="handleFeatureSelected($event)"
  [(filterYears)]="filterYears"
></ofui-map-years>
<hr />
<h2 *ngIf="yearCountryData !== null">
  Details for {{ selectedCountry }}
  {{ filterYears ? "in " + selectedYear : "" }}
</h2>
<ofui-year-country-data
  id="details"
  *ngIf="yearCountryData !== null"
  [showData]="yearCountryData"
></ofui-year-country-data>
