<h2 class="display-2">Duration Stats</h2>

<div class="row">
  <div class="col left">
    <h4 class="display-4">TV Shows</h4>
    <hr />
    <p>
      <strong class="display-4"
        >Total # Seasons Available: <b>{{ totalSeasons }}</b></strong
      >
    </p>
    <p>
      <strong class="display-4"
        >Average # Seasons Per Show: <b>{{ averageSeasons }}</b></strong
      >
    </p>
  </div>
  <div class="col">
    <h4 class="display-4">Movies</h4>
    <hr />
    <p>
      <strong class="display-4"
        >Total # Minutes Available: <b>{{ totalMinutes }}</b> or
        <b>{{ totalDays() }}</b> Days!</strong
      >
    </p>
    <p>
      <strong class="display-4"
        >Average # Minutes Per Movie: <b>{{ averageMinutes }}</b></strong
      >
    </p>
  </div>
</div>
