<div class="row">
  <div class="col">
    <h3 class="display-3 text-muted">Total Shows: {{ totalShows }}</h3>
  </div>
</div>
<div *ngIf="compareTypes" class="row bottom justify-content-md-center">
  <div class="col-6">
    <h4 class="display-4 text-muted">Show Types</h4>
    <ofui-pie-chart
      [dataGenerator]="getTypes.bind(this)"
      [labelGenerator]="getTypeLabels.bind(this)"
    ></ofui-pie-chart>
  </div>
</div>
<div class="row bottom">
  <div class="col-6 left">
    <h4 class="display-4 text-muted">Ratings</h4>
    <h5>Click a rating to see shows</h5>
    <ofui-pie-chart
      [dataGenerator]="getRatings.bind(this)"
      [labelGenerator]="getRatingLabels.bind(this)"
      (elementClicked)="ratingSelected($event)"
    ></ofui-pie-chart>
  </div>
  <div class="col">
    <h4 class="display-4 text-muted">Top {{ actorCounts?.length }} Actors</h4>
    <ofui-polar-area-chart
      *ngIf="actorCounts !== null"
      [dataGenerator]="getActorCounts.bind(this)"
      [labelGenerator]="getActorLabels.bind(this)"
    >
    </ofui-polar-area-chart>
  </div>
</div>
<div *ngIf="selectedRating !== null" class="row bottom">
  <div class="col">
    <ngb-accordion #acc="ngbAccordion">
      <ngb-panel title="">
        <ng-template ngbPanelHeader let-opened="opened">
          <div class="d-flex align-items-center justify-content-between">
            <button ngbPanelToggle class="m-0 btn btn-link">
              {{ selectedRating.Rating }} (Click to expand)
            </button>
            <button
              (click)="selectedRating = null"
              class="btn btn-link text-danger p-0"
            >
              <fa-icon [icon]="faClose"></fa-icon>
            </button>
          </div>
        </ng-template>
        <ng-template ngbPanelContent>
          <ofui-shows-table
            [data]="getShowsForSelectedRating()"
            [pageSizes]="[10, 20, 50]"
          ></ofui-shows-table>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </div>
</div>
<div class="row bottom">
  <div class="col">
    <h4 class="display-4 text-muted">
      Year Added {{ compareOverTime ? "Vs Year Released" : "" }}
    </h4>
    <ofui-bar-chart
      [horizontal]="true"
      [dataGenerator]="getAddedYears.bind(this)"
      [labelGenerator]="getYearLabels.bind(this)"
    >
    </ofui-bar-chart>
  </div>
</div>
<div class="row">
  <div class="col">
    <h4 class="display-4 text-muted">Show Data</h4>
    <ngb-accordion #acc="ngbAccordion">
      <ngb-panel title="Data">
        <ng-template ngbPanelContent>
          <ofui-shows-table
            [data]="showData"
            [pageSizes]="[20, 50, 100]"
          ></ofui-shows-table>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </div>
</div>
