<div class="content">
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <span class="navbar-brand">
      <img
        src="./assets/netflix.svg"
        alt="The netflix logo"
        width="40"
        height="40"
      />Odmflix</span
    >
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a [routerLink]="['']" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/Countries']" class="nav-link">Countries</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/Years']" class="nav-link">Years</a>
        </li>
      </ul>
    </div>
  </nav>
  <main id="main" role="main" class="container">
    <router-outlet></router-outlet>
  </main>
</div>
<footer class="footer">
  <div class="container">
    Netflix is a registered trademark of Netflix, Inc.
  </div>
</footer>
<script src="./index.ts"></script>
