<div class="content">
  <nav class="navbar navbar-dark bg-dark">
    <div class="container">
      <img
        src="./assets/netflix.svg"
        alt="The netflix logo i dun stole"
        width="40"
        height="40"
      />
      <span class="navbar-brand">Odmflix</span>
    </div>
  </nav>

  <main id="main" role="main" class="container">
    <router-outlet></router-outlet>
  </main>
</div>
<footer class="footer">
  <div class="container">
    Netflix is a registered trademark of Netflix, Inc.
  </div>
</footer>
<script src="./index.ts"></script>
