<h2>All Of The Data!</h2>
<h6>Use the dropdown to filter by show type</h6>
<div class="row">
  <div class="col">
    <select
      class="form-control"
      [(ngModel)]="currentTypeId"
      (change)="changeType()"
    >
      <option [value]="null">--- Pick Type ---</option>
      <option *ngFor="let type of types" [value]="type.Id">
        {{ type.Name }}
      </option>
    </select>
  </div>
</div>
<ofui-show-data
  id="details"
  *ngIf="dataReady()"
  [showData]="showData"
  [actorCounts]="actorCounts"
  [ratingCounts]="ratingCounts"
  [ratingYearCounts]="ratingCountsByYear"
  [ratingYearTotals]="ratingTotalsByYear"
  [compareOverTime]="true"
  [compareTypes]="compareTypes"
></ofui-show-data>
<div *ngIf="!dataReady()" class="d-flex justify-content-center">
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
